#user-photos-container-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

  /* background-color: rgb(234, 234, 242); */

  background-color: #eaeaea;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 80px;
  min-height: 600px;
}

#user-photos-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  margin: 45px 45px 45px 75px;

}

.user-photos-pic {
  height: 300px;
}
